blueprints/fa06f3b7_1ced_4311_b69f_84bdcbc611d4.getkpi-dummy&fa06f3b7_1ced_4311_b69f_84bdcbc611d4.json
{"flow": [{"id": 1, "mapper": {"kpis": ["average_age"], "knowledgeModelKey": "dm_dummy_peopledm-km"}, "module": "celonis:getKPIs", "version": 3, "metadata": {"expect": [{"name": "knowledgeModelKey", "type": "select", "label": "Knowledge Model", "required": true}, {"name": "kpis", "type": "select", "label": "KPIs", "multiple": true, "required": true}, {"name": "filters", "type": "select", "label": "Filter", "multiple": true}], "restore": {"expect": {"kpis": {"mode": "chose", "label": ["Average Age"]}, "filters": {"mode": "chose"}, "knowledgeModelKey": {"mode": "chose", "label": "dummy_peopleDM KM"}}, "parameters": {"__IMTCONN__": {"data": {"scoped": "true", "connection": "celonis3"}, "label": "Tomas Connection"}}}, "designer": {"x": 0, "y": 0}, "parameters": [{"name": "__IMTCONN__", "type": "account:celonis3,celonis4", "label": "Connection", "required": true}]}, "parameters": {"__IMTCONN__": 7283}}, {"id": 2, "mapper": {"name": "Average Age ", "scope": "roundtrip", "value": "12"}, "module": "util:SetVariable2", "version": 1, "metadata": {"expect": [{"name": "name", "type": "text", "label": "Variable name", "required": true}, {"name": "scope", "type": "select", "label": "Variable lifetime", "required": true, "validate": {"enum": ["roundtrip", "execution"]}}, {"name": "value", "type": "any", "label": "Variable value"}], "restore": {"expect": {"scope": {"label": "One cycle"}}}, "designer": {"x": 300, "y": 0}, "interface": [{"name": "Average Age ", "type": "any", "label": "Average Age "}]}, "parameters": {}}, {"id": 3, "mapper": {"knowledgeModelKey": "25d4909d-d74a-45ca-96af-0d3044dd6e00", "augmentedAttributeId": "{{2.`Average Age `}}"}, "module": "celonis:updateAugmentedAttributeV2", "version": 3, "metadata": {"expect": [{"name": "knowledgeModelKey", "type": "select", "label": "Knowledge Model", "required": true}, {"name": "knowledgeModelKey", "type": "select", "label": "Knowledge Model", "required": true}, {"name": "augmentedAttributeId", "type": "any", "label": "Augmented Attribute", "required": true}], "restore": {"expect": {"knowledgeModelKey": {"mode": "edit"}}, "parameters": {"__IMTCONN__": {"data": {"scoped": "true", "connection": "celonis3"}, "label": "My Celonis User connection"}}}, "designer": {"x": 600, "y": 0}, "parameters": [{"name": "__IMTCONN__", "type": "account:celonis3,celonis4", "label": "Connection", "required": true}]}, "parameters": {"__IMTCONN__": 7484}}, {"id": 5, "mapper": {"limit": "50", "filter": [{"filterName": "age +20", "filterExpression": "FILTER \"people_newtable\".\"age\" > 20"}], "columns": [{"formula": "SUBSTRING(\"people_newtable\".\"name\", 0, 3)", "sorting": "none", "columnName": "name"}], "dataPool": "c840c791-823a-4d34-9571-f39dae182078", "dataModel": "13483c35-4b6a-4e90-b06c-9230b25e7b02"}, "module": "celonis:queryData", "version": 3, "metadata": {"expect": [{"name": "dataPool", "type": "select", "label": "Data Pool", "required": true}, {"name": "columns", "spec": [{"name": "columnName", "type": "text", "label": "Column Name"}, {"name": "formula", "type": "text", "label": "Formula", "required": true}, {"name": "sorting", "type": "select", "label": "Column Sorting", "options": [{"label": "None (Default)", "value": "none"}, {"label": "Ascending", "value": "ASC"}, {"label": "Descending", "value": "DESC"}], "required": true}], "type": "array", "label": "Columns", "required": true}, {"name": "filter", "spec": [{"name": "filterName", "type": "text", "label": "Filter Name"}, {"name": "filterExpression", "type": "text", "label": "Filter Expression", "required": true}], "type": "array", "label": "Filter"}, {"name": "limit", "type": "integer", "label": "Row Limit"}, {"name": "dataModel", "type": "select", "label": "Data Model", "required": true}], "restore": {"expect": {"filter": {"mode": "chose", "items": [null]}, "columns": {"mode": "chose", "items": [{"sorting": {"mode": "chose", "label": "None (Default)"}}]}, "dataPool": {"mode": "chose", "label": "Sarvesh Monitoring Pool"}, "dataModel": {"mode": "chose", "label": "dummy_peopleDM"}}, "parameters": {"__IMTCONN__": {"data": {"scoped": "true", "connection": "celonis3"}, "label": "My Celonis User connection"}}}, "designer": {"x": 900, "y": 0}, "interface": [{"name": "__IMTLENGTH__", "type": "uinteger", "label": "Total number of bundles"}, {"name": "__IMTINDEX__", "type": "uinteger", "label": "Bundle order position"}, {"name": "name", "type": "text", "label": "name"}], "parameters": [{"name": "__IMTCONN__", "type": "account:celonis3,celonis4", "label": "Connection", "required": true}]}, "parameters": {"__IMTCONN__": 7484}}], "name": "getKPI_dummy", "metadata": {"instant": false, "version": 1, "designer": {"orphans": [], "samples": {"5": {"name": "Ahm", "__IMTINDEX__": 1, "__IMTLENGTH__": 10}}}, "scenario": {"dlq": false, "slots": null, "dataloss": false, "maxErrors": 3, "autoCommit": true, "roundtrips": 1, "sequential": false, "confidential": false, "autoCommitTriggerLast": true}}}